---
import ProjectCard from "./ProjectCard.astro";
import { getProjectGridData } from "@utils/data";

const { projects } = getProjectGridData();
---

<div class="grid" data-filter-grid>
  {
    projects.map((project) => (
      <ProjectCard
        name={project.name}
        url={project.url}
        logo={project.logo}
        tags={project.tags}
        groups={project.groups}
        githubData={project.githubData}
      />
    ))
  }
</div>
