<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', { 
    page: '404' , 
    title:'d3ward - 404', 
    description:"Whoops! This page must’ve taken a detour into the internet void. ",
	url: 'https://d3ward.github.io/404',
	keywords:'404 page, not found, error' 
}) %>

<body>
    <svg viewBox=" 0 0 120 30" class="wave  _float-top" preserveaspectratio="none">
        <path d="M0 9v6c30 0 30 4 60 4 31 0 30-4 60-4s30 4 60 4 30-4 60-4V0H0z"></path>
    </svg>
    <%- include('partials/header.ejs', {page:'404'}) %>
    <ul class="squares">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <%- include('partials/support_me.ejs') %>
    <main class="_pt-4">
        <section id="aek">
            <div class="hero">
                <div class="_aos-top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24" fill="none"
                        stroke="var(--primary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="prefix__icon prefix__icon-tabler prefix__icons-tabler-outline prefix__icon-tabler-arrow-autofit-right">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M20 12V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8M4 18h17M18 15l3 3-3 3" />
                    </svg>
        
                </div>
                <div class="_aos-bottom">
                    <h2><strong>The project you seek has embarked on a new journey! </strong></h2>
                    
                    <a href="https://d3ward.github.io/kiwihub" class="btn _p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" version="1.1" viewBox="0 0 512 512"
                            fill="currentColor">
                            <path
                                d="M176 0c-26.5 0-48 21.5-48 48v48H64c-35.3 0-64 28.7-64 64v256c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64h-64V48c0-26.5-21.5-48-48-48H176zm0 32h160c8.8 0 16 7.2 16 16v48H160V48c0-8.8 7.2-16 16-16zM64 128h384c17.7 0 32 14.3 32 32v256c0 17.7-14.3 32-32 32h-85.27c6.013-19.987 7.44-42.393 3.15-65.273-9.322-49.728-42.973-87.61-83.019-99.135-4.794-1.38-8.405-5.472-9.484-10.342-.945-4.268.108-8.794 3.375-11.697 26.052-23.15 57.308-40.438 91.633-49.944 1.627-.45 1.437-2.803-.248-2.894-36.566-1.972-71.115 7.45-100.207 25.174-6.807 4.147-15.58 3.227-22.184-1.239-9.203-6.226-20.099-10.214-31.965-11.123-36.465-2.794-68.294 24.546-71.092 61.065-1.46 19.064 5.28 36.86 17.243 49.916 5.073 5.536 7.265 13.44 4.937 20.578-6.744 20.684-8.51 44.123-4.017 68.08A143.393 143.393 0 0 0 168.66 448H64c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32zm158.555 129.674a8.63 8.429 0 0 1 8.629 8.428 8.63 8.429 0 0 1-8.63 8.43 8.63 8.429 0 0 1-8.628-8.43 8.63 8.429 0 0 1 8.629-8.428z" />
                        </svg>
                        KiwiHub
                    </a>
                </div>
            </div>
        </section>
        <section id="404">
            <div class="hero">
            <div class="_aos-top">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="var(--primary)">
                    <path
                        d="M150.717 23.77c-20.252 0-36.667 16.415-36.667 36.667v29.127c0 20.251 16.415 36.667 36.667 36.667 20.251 0 36.666-16.416 36.666-36.667v-29.13c0-20.258-16.408-36.664-36.666-36.664zm22 65.998c0 12.13-9.868 22-22 22-12.13 0-22-9.87-22-22V60.434c0-12.132 9.87-22 22-22 12.132 0 22 9.868 22 22zm117.676 3.154a7.334 7.334 0 01-7.333 7.333h-7.334v18.741a7.334 7.334 0 01-14.666 0v-18.741h-51.334a7.344 7.344 0 01-6.199-3.412 7.342 7.342 0 01-.43-7.061l29.334-61.921c1.724-3.66 6.124-5.211 9.768-3.486a7.338 7.338 0 013.488 9.77l-24.374 51.443h39.747V53.001a7.334 7.334 0 0114.666 0v32.587h7.334c4.056 0 7.333 3.3 7.333 7.334zm-192.785 0a7.334 7.334 0 01-7.334 7.333h-7.333v18.74a7.334 7.334 0 01-14.667 0v-18.74H16.941a7.344 7.344 0 01-6.2-3.413 7.342 7.342 0 01-.43-7.06L39.646 27.86c1.725-3.66 6.125-5.21 9.769-3.485a7.338 7.338 0 013.488 9.77L28.527 85.587h39.747V53a7.334 7.334 0 0114.667 0v32.588h7.333c4.057 0 7.334 3.3 7.334 7.333z" />
                </svg>
            </div>
            <div class="_aos-bottom">
                <h2><strong>Not Found</strong></h2>
                <a href="https://d3ward.github.io" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                    </svg>
                    Home
                </a>
            </div>
        </div>
        </section>
    </main>
    <svg viewBox="0 0 120 12" class="wave" style="margin-bottom:-7px;margin-top:2rem;height:5em;" preserveaspectratio="none">
        <path d="M 0 0 C 30 0 30 5 60 5 C 90 5 90 0 120 0 C 150 0 150 5 180 5 C 210 5 210 0 240 0 v 12 h -240 z" />
    </svg>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/gotop.ejs') %>
</body>

</html>